---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import styles from '../collections/dance/styles.json'
import Post from "../components/post.astro";
import DanceStyle from "../components/courses/dance-style.astro";
---

<Layout title="Kurser - Dans i Höganäs & Åstorp">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Kurser"
      description=""
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <DanceStyle style={styles.mixedStyles_children} />
      <DanceStyle style={styles.streetjazz} />
      <DanceStyle style={styles.seniordance} />
      <DanceStyle style={styles.contemporary} />
      <DanceStyle style={styles.beginner} />
      <DanceStyle style={styles.continuation} />
    </div>
  </section>
</Layout>
