---
import ScheduleDayItem from "./schedule-day-item.astro";

const { dayName, items } = Astro.props;
---

<div class="relative overflow-x-auto border-t mt-4 border-dashed border-gray-900/10 pb-12">
    <h2 class="mt-2 underline strong">{dayName}</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
            <tr>
                <th scope="col">
                    Tid
                </th>
                <th scope="col" class="px-6 py-3">
                    Kurs
                </th>
                <th scope="col" class="px-6 py-3">
                    Plats
                </th>
            </tr>
        </thead>
        <tbody>
            {items.map((item: { time: string; name: string; location: string; color: string; }) => (
                <ScheduleDayItem time={item.time} name={item.name} location={item.location} color={item.color} />
            ))}
        </tbody>
    </table>
</div>